<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<link href="bower_components/bootstrap-material-design/dist/css/material.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style/main.css">
<script src='bower_components/jquery/dist/jquery.min.js'></script>
<script src="bower_components/d3/d3.js" charset="utf-8"></script>
<script src="js/d3-jetpack.js" charset="utf-8"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src='bower_components/nouislider/distribute/jquery.nouislider.all.min.js'></script>
<link href='bower_components/nouislider/distribute/jquery.nouislider.pips.min.css'></link>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], skipTags: ["script","noscript","style","textarea","code"] } });
</script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<body ng-app="mainApp" class='container'>

  <marker id="triangle" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="4" markerHeight="3" orient="auto">
    <path d="M 0 0 L 10 5 L 0 10 z" />
  </marker>
  <div class='col-xs-7'>

    <h1>What's the difference?</h1>
    <h3>differential equations explained</h3>
    <div style='padding-left: 20px'>
      <blockquote class="blockquote">
        As long as nineteenth-centry spellbinders of science could point to the planets and the Milky Way,...they held their audience. But with nothing to see except a blackboard strewn with differential equations, the educated man with an informed interest in science melted away.
        <footer>Jacques Barzun,
          <cite title="The Use and Abuse of Art">The Use and Abuse of Art (1974)</cite>
        </footer>
      </blockquote>

    </div>

    <p>The phrase "differential equation" is a harsh pair of science words, like "flux capacitor." If what Barzun says is true, just looking at them melted someone. What we are going to do to gently introduce them, in two parts. Today, we will just look at what they are and learn to solve a common one.</p>

    <h3>definition</h3>

    <p>You're probably used to regular old equations like $ 2t - .5t^2 = 1.5 $. Here, "solving the equation" means finding numbers that make the statement true. Below, change $ t $ until it's true that $ 2t - .5t^2 = 1.5 $.</p>
  </div>
  <div class='clearfix'></div>
  <div class='col-xs-4 shadow-z-1 plot'>
    <div quad-fun-der></div>
  </div>
  <div class='clearfix'></div>

  <div class='col-xs-7'>
    <p>A differential equation is a statement that involves a derivative, and <strong>solving a differential equation means finding a function whose derivative makes the statement true.</strong> The solutions aren't numbers; they're functions.</p>

    <h3>one equation to rule them all</h3>

    <p>This is the most important differential equation</p>

    $$ y' = k \cdot y.$$

    <p>It says, "The rate-of-change of $y$ is a multiple of $y$." Here is that fact plotted out for $k=.5$.</p>
  </div>
  <div class='clearfix'></div>
  <div ng-controller="expCtrl as E" class='shadow-z-1 col-xs-4 plot' style='padding: 20px;'>
    <p class='jaxTitle'>$$y' = 0.5 \cdot y$$</p>
    <div dy-der class='shadow-z-2' style='padding: 5px;'></div>
  </div>
  <div class='clearfix'></div>

  <div class='col-xs-7'>
    <p>To solve the diffeq $y' = 0.5 \cdot y$, find a function $y(t)$ for which it's true. Below, you'll do that by hand.</p>
    <h4>Instructions</h4>
    <p style='line-height: 1.5em;'>Left-click the left plot to add points; right-click to delete. Points make a function <span class="hi y">$y(t)$</span>. The <a href="http://en.wikipedia.org/wiki/Derivative#The_derivative_as_a_function">derivative function</a> <span class='hi yprime'>$y'(t)$</span> appears on the middle plot. Finally, the right plot shows a function <span class='hi F'>$F(y)$</span>, giving $y'$ for each value of $y$, as well as your target <span class='hi tar'>$y'=0.5y$</span>. </p>
  </div>
  <div ng-controller="expCtrl as E">
    <!--     <div class='row col-xs-10 shadow-z-1 expFun' style='padding: 20px;'>
    
    </div> -->
    <div class='row col-xs-10 shadow-z-1 expFun' style='padding: 20px;'>
      
      <div exp-fun-left class='shadow-z-2'> <p class='plotTitle'><span class="hi y">$y(t)$</span> </p></div>
      <!-- <p class='jaxTitle'>$$y' = 0.5 \cdot y$$</p> -->
      <div exp-fun-middle class='shadow-z-2 noY'><p class='plotTitle'><span class='hi yprime'>$y'(t)$</span></p></div>
      <div exp-fun-right class='shadow-z-2'><p class='plotTitle'><span class='hi F'>$F(y)$</span> &amp; <span class='hi tar'>$y'=0.5y$</span></p></div>
    </div>
    <div class='col-xs-7'>
      <button class='btn btn-material-blue-500' ng-click='E.dots.clearDots()'>Clear</button>
      <p>
        One solution to the equation is $$y(t) = e^{0.5t}.$$ To see that, click <a ng-click="E.dots.giveAnswer()">here</a>.
      </p>
      <p>
        A solution is any function like $$ y(t) = c \cdot e^{0.5 t},$$ where $e$ is Euler's number $2.718$ and $c$ can be <em>any</em> number. To see that any $c$ will work, click here to draw $c\cdot e^{kt}$ and drag the slider below to move $c$.
      </p>
      <div class='col-xs-3 col-xs-offset-1'>
        c = {{E.dots.C}}
      </div>
      <br>
      <div slider-der slider ng-model="E.dots.C" min='.2' max='2' step='0.05' class='slider col-xs-5'></div>

    </div>
    <br>
    <div class='col-xs-7'>
      <h3>fact? or friction?</h3>

      <p>
        Let's use this diffEQ in a more physical example. Suppose you launch a wheeled cart at velocity $v_0$. Friction slows it down at a rate $k$ proportional to the velocity; that is, the faster it's going, the more friction slows it down. Now we have
      </p>

      $$ v' = -kv $$

      <p>
        just like above, except the coefficient on $v$ is negative.
      </p>
    </div>
    <div class='clearfix'></div>

    <div ng-controller="cartCtrl2 as C" class='col-xs-9'>
      <div class="go row shadow-z-1" style='padding: 20px;'>
        <div class="row shadow-z-2" style='margin: 5px 8px 20px 8px; padding: 10px;'>
          <div class='button btn btn-raised col-xs-2 btn-material-blue-400' ng-click="C.block.release()">release</div>
          <div class='col-xs-5'>

            <!-- <div slider ng-model="C.block.v01" start=0 end=1 step=0.025 class='slider slider-material-blue'></div> -->
            <div>
              {{C.block.v01}}
            </div>
          </div>
        </div>
        <div cart-chart class='shadow-z-2 col-xs-4'></div>
        <div cart-der2 class='shadow-z-2 col-xs-7 pull-right' style='margin-left: 20px'></div>
        <!-- <div cart-chart class='col-xs-3 shadow-z-1' ></div> -->
      </div>
    </div>

    <!-- <div cart-der class='col-xs-8'></div> -->


</body>

<script type="text/javascript">
angular.module('mainApp', [])
  .run(function($rootScope, $window) {
    $window.onresize = function() {
      $rootScope.$broadcast('windowResize');
    };
  });
</script>
<script type="text/javascript" src='js/controllers.js'></script>
<script type="text/javascript" src='js/e.js'></script>
<script type="text/javascript" src='js/dy.js'></script>
<script type="text/javascript" src='js/sliderDer.js'></script>
<script type="text/javascript" src='js/quadFun.js'></script>
<script type="text/javascript" src='js/cartDer.js'></script>
<script type="text/javascript" src='js/cartDer2.js'></script>
<script type="text/javascript" src='js/expLeft.js'></script>
<script type="text/javascript" src='js/expMid.js'></script>
<script type="text/javascript" src='js/expRight.js'></script>
