body {
  font-family: 'Libre Baskerville', serif;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 35px;
  line-height: 1.5em;
}
.plot {
  margin: 2px 10px 12px 22px;
}

path.triangle {
  stroke: #333;
  fill: none;
  stroke-width: 1.5px;
  opacity: .3;
  stroke-dasharray: 2, 2, 1;
  stroke-linecap: round;
}
path.tangent {
  stroke: #888;
  stroke-dasharray: 2, 2, 4;
  stroke-linecap: round;
  opacity: .6;
  fill: none;
  stroke-width: 1.6px;
}
line.dy {
  stroke: #19B5FE;
  stroke-dasharray: 2.2, 2;
  fill: none;
  stroke-width: 1.2px;
}
line.zero{
  stroke: black;
  stroke-width: 1.5px;
  opacity: .5;
}
text {
  font-family: 'Libre Baskerville';
  font-size: 11px;
}

rect.background {
  fill: #ddd;
  opacity: 0.9;
}
rect.yBar {
  fill: #F22613;
  opacity: .7;
}
rect.tBar {
  fill: #2ECC71;
  opacity: .7;
}
rect.dyBar {
  fill: #19B5FE;
  opacity: .7;
}
line.tLine {
  stroke: #2ECC71;
  stroke-dasharray: 2, 4;
  stroke-linecap: round;
  stroke-width: 2px;
}
line.indicator {
  stroke: #19B5FE;
  stroke-dasharray: 2, 2;
  stroke-linecap: round;
}
line.dyLine {
  stroke: #19B5FE;
  stroke-dasharray: 2, 4;
  stroke-linecap: round;
  stroke-width: 2px;
}
line.target {
  stroke: #555;
  stroke-width: 1.5px;
  stroke-dasharray: 2, 2;
  stroke-linecap: round;
}
line.target.highlighted {
  stroke: #2ECC71;
  stroke-width: 3px;
  stroke-dasharray: none;
}
line.yLine {
  stroke: #F22613;
  stroke-dasharray: 2, 4;
  stroke-linecap: round;
  stroke-width: 2px;
}
.axis path, .axis line {
  fill: none;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #eee;
  fill: crimson;
  cursor: pointer;
  opacity: 0.7;
  stroke-width: 1;
}
.dot2 {
  fill: #22A7F0;
  opacity: 0.9;
  pointer-events: none;
}
.crawl {
  fill: none;
  stroke-width: 1px;
  stroke-dasharray: 2, 2, 1;
  stroke: #333;
}

line, path {
  fill: none;
  pointer-events: none;
}
.funPath {
  stroke: #F22613;
  stroke-width: 1.5px;
  fill: none;
  pointer-events: none;
}
.quadPath {
  stroke: #F22613;
  stroke-width: 1.5px;
  fill: none;
  opacity: .8;
  pointer-events: none;
}
.derPath {
  stroke: #19B5FE;
  stroke-width: 1.5px;
  stroke-linecap: round;
}
.goalPath {
  stroke: #F89406;
  stroke-width: 1.5px;
  stroke-dasharray: 2, 2;
  stroke-linecap: round;
}
.diffPath {
  stroke: #9A12B3;
  stroke-width: 1.5px;
}
path.diffArea {
  fill: #9A12B3;
  stroke: none;
}
.expFun div {
  width: 32.6%;
  display: inline-block;
}

.axis line {
  stroke: white;
  stroke-dasharray: 3, 1;
}
text.label {
  font-size: 14px;
  font-weight: 700;
}
text.tValue, text.yValue {
  text-anchor: left;
}
.noY .y.axis text {
  opacity: 0;
}
circle.selector {
  opacity: 0.4;
}
