<h1>What's the difference?</h1>
<h3>differential equations explained</h3>
<div style='padding-left: 20px'>
  <blockquote class="blockquote">
    As long as nineteenth-centry spellbinders of science could point to the planets and the Milky Way,...they held their audience. But with nothing to see except a blackboard strewn with differential equations, the educated man with an informed interest in science melted away.
    <footer>Jacques Barzun,
      <cite title="The Use and Abuse of Art">The Use and Abuse of Art (1974)</cite>
    </footer>
  </blockquote>
</div>
<div class='content'>

  <p>The phrase "differential equation" is a harsh pair of science words, like "flux capacitor." If what Barzun says is true, just looking at them melted someone. Don't be that guy! This page is meant to give a basic introduction to diffeq's for those who have at least done Calculus 1.</p>
</div>
